### Dependencies and Setup

In [7]:
import os
import csv
import pandas as pd

#csvpath = os.path.join("Resources","purchase_data.csv")
csvpath = "/Users/lorenamartinez/utsa_boot_camp/homework/4_PandasChallenge/pandas-challenge/Resources/purchase_data.csv"

purchase_data = pd.read_csv(csvpath)

### Player Count

In [8]:
data_df = pd.DataFrame(purchase_data)
players_num =len(pd.unique(data_df['SN']))
print("Total number of players:", players_num)

Total number of players: 576

### Purchasing Analysis (Total)

In [28]:
items_num=len(pd.unique(data_df['Item ID']))
print("Total number of unique:", items_num)
avg_price = data_df["Price"].mean()
avg_price = "${:,.2f}".format(avg_price)
print("Total number average price:", avg_price)
purchase_num = data_df["Purchase ID"].count()
print ("Total number of purchases:", purchase_num)
total_revenue = data_df["Price"].sum()
total_revenue = "${:,.2f}".format(total_revenue)
print("Total revenue is: ", total_revenue)
purchase_summary_df = pd.DataFrame({"Number of Unique Items":[items_num],
                                    "Average Price":[avg_price],
                                    "Number of Purchases":[purchase_num],
                                    "Total Revenue":[total_revenue]})
purchase_summary_df

Total number of unique: 179
Total number average price: $3.05
Total number of purchases: 780
Total revenue is:  $2,379.77

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77