### Dependencies and Setup

In [139]:
import os
import csv
import pandas as pd
#import numpy as np

#csvpath = os.path.join("Resources","purchase_data.csv")
csvpath = "/Users/lorenamartinez/utsa_boot_camp/homework/4_PandasChallenge/pandas-challenge/Resources/purchase_data.csv"

purchase_data = pd.read_csv(csvpath)

### Player Count

In [140]:
data_df = pd.DataFrame(purchase_data)
players_num =len(pd.unique(data_df['SN']))
print("Total number of players:", players_num)

Total number of players: 576

### Purchasing Analysis (Total)

In [141]:
items_num=len(pd.unique(data_df['Item ID']))
avg_price = data_df["Price"].mean()
avg_price = "${:,.2f}".format(avg_price)
purchase_num = data_df["Purchase ID"].count()
total_revenue = data_df["Price"].sum()
total_revenue = "${:,.2f}".format(total_revenue)
purchase_summary_df = pd.DataFrame({"Number of Unique Items":[items_num],
                                    "Average Price":[avg_price],
                                    "Number of Purchases":[purchase_num],
                                    "Total Revenue":[total_revenue]})
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

### Gender Demographics

In [167]:
gender_info= data_df.loc[:, ['Gender','SN']]
gender_clean = gender_info.drop_duplicates(['SN'])
gender_count = gender_clean["Gender"].value_counts()
gender_percentage = gender_count / players_num*100
#gender_percentage = "{:%}".format(gender_percentage)
gender_summary_df = pd.DataFrame({"Total Count":gender_count,
                                    "Percentage of Players":gender_percentage})

gender_summary_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

### Purchasing Analysis (Gender)

In [ ]:
# purchase count by gender (use gender_info)

#average purchase price by gender (use total purchase count)

#total purchase value by gender 

# avg total purchase per person in each gender (use gender count)