# Dependencies and Setup

In [1]:
import os
import pandas as pd

#os.getcwd()
#os.chdir("/Users/lorenamartinez/utsa_boot_camp/homework/4_PandasChallenge/pandas-challenge/")
#os.getcwd()

file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

# Player Count

In [2]:
data_df = pd.DataFrame(purchase_data)
players_num =len(pd.unique(data_df['SN']))
players_num_df = pd.DataFrame({"Total Players":[players_num]})
players_num_df

   Total Players
0            576

# Purchasing Analysis (Total)

In [3]:
items_num=len(pd.unique(data_df['Item ID']))
avg_price = data_df["Price"].mean()
#avg_price = c.format(avg_price)
purchase_num = data_df["Purchase ID"].count()
total_revenue = data_df["Price"].sum()
purchase_summary_df = pd.DataFrame({"Number of Unique Items":[items_num],
                                    "Average Price":[avg_price],
                                    "Number of Purchases":[purchase_num],
                                    "Total Revenue":[total_revenue]})
purchase_summary_df.style.format({"Average Price":"${:,.2f}",
                                  "Total Revenue":"${:,.2f}"})

# Gender Demographics

In [4]:
gender_info= data_df.loc[:, ['Gender','SN']]
gender_clean = gender_info.drop_duplicates(['SN'])
gender_count = gender_clean["Gender"].value_counts()
gender_percentage = gender_count / players_num
gender_summary_df = pd.DataFrame({"Total Count":gender_count,
                                  "Percentage of Players":gender_percentage})
gender_summary_df.style.format({"Percentage of Players":"{:.2%}"})

# Purchasing Analysis (Gender)

In [5]:
g_purch_df = data_df.loc[:, ['Gender','SN','Price']]
g_purch_grp = g_purch_df.groupby("Gender")
g_purch_count = g_purch_grp["Gender"].count()
g_tot_purch_value = g_purch_grp["Price"].sum()
g_avg_purch_price = g_purch_grp["Price"].mean()
avg_tot_purch_per = g_tot_purch_value / gender_count 
purch_analysis = pd.DataFrame({"Purchase Count":g_purch_count,
                               "Average Purchase Price":g_avg_purch_price,
                               "Total Purchase Value":g_tot_purch_value,
                               "Avg Total Purchase per Person":avg_tot_purch_per})                               
purch_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}",
                             "Avg Total Purchase per Person":"${:,.2f}"})

# Age Demographics

In [6]:
age_purch_df = data_df.loc[:, ['Age','SN','Price']]
age_purch_df = age_purch_df.drop_duplicates(['SN'])
bins=[0,9,14,19,24,29,34,39,999]
bin_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(age_purch_df["Age"], bins, labels=bin_names).head()
age_purch_df["Age Bin"]= pd.cut(age_purch_df["Age"], bins, labels=bin_names, include_lowest = True)
age_purch_grp = age_purch_df.groupby("Age Bin")
age_purch_count = age_purch_grp["Age Bin"].count()
age_purch_perc = age_purch_count / players_num
age_summary_df = pd.DataFrame({"Total Count":age_purch_count,
                               "Percentage of Players":age_purch_perc})
age_summary_df.index.name = None
age_summary_df.style.format({"Percentage of Players":"{:.2%}"})

# Purchasing Analysis (Age)

In [7]:
a_purch_analysis_df = data_df.loc[:, ['Age','SN','Price','Item ID']]
bins=[0,9,14,19,24,29,34,39,999]
bin_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(a_purch_analysis_df["Age"], bins, labels=bin_names).head()
a_purch_analysis_df["Age Ranges"]= pd.cut(a_purch_analysis_df["Age"], bins, labels=bin_names, include_lowest = True)
a_purch_analysis_grp = a_purch_analysis_df.groupby("Age Ranges")
a_purch_analysis_count = a_purch_analysis_grp["Item ID"].count()
a_purch_analysis_avg = a_purch_analysis_grp["Price"].mean()
a_purch_analysis_total = a_purch_analysis_grp["Price"].sum()
a_purch_analysis_tot_per = a_purch_analysis_total / age_purch_count
age_purch_summary_df = pd.DataFrame({"Purchase Count":a_purch_analysis_count,
                                     "Average Purchase Price":a_purch_analysis_avg,
                                     "Total Purchase Value":a_purch_analysis_total,
                                     "Avg Total Purchase per Person":a_purch_analysis_tot_per})
age_summary_df.index.name = None
age_purch_summary_df.style.format({"Average Purchase Price":"${:.2f}",
                                   "Total Purchase Value":"${:.2f}",
                                   "Avg Total Purchase per Person":"${:.2f}"})

# Top Spenders

In [8]:
spenders_sn_grp=data_df.groupby(["SN"])
spenders_sn_grp_count = spenders_sn_grp["Purchase ID"].count()
spenders_sn_grp_value = spenders_sn_grp["Price"].sum()
spenders_sn_grp_avg = spenders_sn_grp["Price"].mean()
topspenders_summary_df = pd.DataFrame({"Purchase Count":spenders_sn_grp_count,
                                       "Average Purchase Price":spenders_sn_grp_avg,
                                       "Total Purchase Value":spenders_sn_grp_value})
topspenders_sorted = topspenders_summary_df.sort_values(["Total Purchase Value"], ascending=False)
topspenders_head=topspenders_sorted.head()
topspenders_head.style.format({"Average Purchase Price":"${:.2f}",
                               "Total Purchase Value":"${:.2f}"})

# Most Popular Items

In [9]:
pop_items_df = data_df.loc[:, ['Item ID','Item Name','Price']]
pop_items_grp = pop_items_df.groupby(["Item ID", "Item Name"])
pop_items_grp_count = pop_items_grp["Item ID"].count()
pop_items_grp_value = pop_items_grp["Price"].sum()
pop_items_grp_avg = pop_items_grp["Price"].mean()
pop_items_summary_df = pd.DataFrame({"Purchase Count":pop_items_grp_count,
                                     "Item Price":pop_items_grp_avg,
                                     "Total Purchase Value":pop_items_grp_value})
pop_items_sorted = pop_items_summary_df.sort_values(["Purchase Count"], ascending = False)
pop_items_head = pop_items_sorted.head()
pop_items_head.style.format({"Item Price":"${:.2f}",
                             "Total Purchase Value":"${:.2f}"})

# Most Profitable Items

In [10]:
pop_values_sorted = pop_items_summary_df.sort_values(["Total Purchase Value"], ascending = False)
pop_values_head = pop_values_sorted.head()
pop_values_head.style.format({"Item Price":"${:.2f}",
                              "Total Purchase Value":"${:.2f}"})